{% block content %}
{% if photo.photo_thumbnail %}
    <a style="text-decoration:none" href="{% url 'show_photo' pk=photo.pk %}"><b>Goal:</b> <img src="{{ photo.photo_thumbnail.url }}"> </a>
    <p>
        <i ></i>
        <a style="text-decoration:none"  href="{% url 'delete_photo' pk=photo.pk %}">delete photo</a>
    </p>
{% endif %}

<!-- comments -->
<h2>{{ comments.count }} comments</h2>

<h3>Leave a comment</h3>
<form enctype="multipart/form-data" method="post" style="margin-top: 1.3em;">
  {{ comment_form.as_p }}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
</form>

{% for comment in comments %}

<div class="comments" style="padding: 10px;">
  <p class="font-weight-bold">
    {{ comment.name }}
    <span class=" text-muted font-weight-normal">
      {{ comment.created_on }}
    </span>
  </p>
  {{ comment.body | linebreaks }}
</div>

{% endfor %}



   
{% endblock %}  